<!-- Sidebar navigation -->
<div id="slide-out" class="side-nav sn-bg-4 fixed">
    <ul class="custom-scrollbar">
        <!-- Logo -->
        <li>
            <div class="logo-wrapper waves-light">
                <a href="{{ path('app_home') }}">
                    {% include "_svg/_logo.html.twig" %}
                </a>
            </div>
        </li>
        <!--/. Logo -->
        <!--Social-->
        <li>
            <ul class="social">
                <li><a href="https://www.facebook.com/" class="icons-sm fb-ic"><i class="fab fa-facebook-f"> </i></a></li>
                <li><a href="https://www.pinterest.fr/" class="icons-sm pin-ic"><i class="fab fa-pinterest"> </i></a></li>
                <li><a href="https://www.google.com/" class="icons-sm gplus-ic"><i class="fab fa-google-plus-g"> </i></a></li>
                <li><a href="https://twitter.com/login?lang=fr" class="icons-sm tw-ic"><i class="fab fa-twitter"> </i></a></li>
            </ul>
        </li>
        <!--/Social-->
        <!--Search Form-->
        <li>
            <form class="search-form" role="search">
                <div class="form-group md-form mt-0 pt-1 waves-light">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
            </form>
        </li>
        <!--/.Search Form-->
        <!-- Side navigation links -->
        <li>
            <ul class="collapsible collapsible-accordion">
                <li>
                    <a class="collapsible-header waves-effect arrow-r"><i class="fas fa-heartbeat"></i> Defibrillators<i class="fas fa-angle-down rotate-icon"></i></a>
                    <div class="collapsible-body">
                        <ul class="list-unstyled">
                            <li><a href="{{ path('defibrillator_index') }}" class="waves-effect">List</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a class="collapsible-header waves-effect arrow-r"><i class="fas fa-wrench"></i> Maintenances<i class="fas fa-angle-down rotate-icon"></i></a>
                    <div class="collapsible-body">
                        <ul class="list-unstyled">
                            <li><a href="{{ path('maintenance_index') }}" class="waves-effect">List</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a class="collapsible-header waves-effect arrow-r"><i class="fas fa-chart-pie"></i> Statistics<i class="fas fa-angle-down rotate-icon"></i></a>
                    <div class="collapsible-body">
                        <ul class="list-unstyled">
                            <li><a href="{{ path('stats_index') }}" class="waves-effect">Utilizations</a></li>
                            <li><a href="{{ path('stats_maintenance') }}" class="waves-effect">Maintenance</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <!--/. Side navigation links -->
    </ul>
    <div class="sidenav-bg mask-strong"></div>
</div>
<!--/. Sidebar navigation -->