{% extends './_layouts/site.html.twig' %}

{% block title %}{{ parent() }} - Home{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app_home') }}
{% endblock %}

{% block content %}
    <!--Main layout-->
    <div class="container-fluid text-center">
        <!--Card-->
        <div class="card card-cascade wider reverse my-4 pb-5">
            <!--Card image-->
            <div id="map" class="streetmap-card overlay wow fadeIn"></div>
            <!--/.Card image-->




            </div>
            <!--/.Card content-->
        </div>
        <!--/.Card-->
    </div>
    <!--/Main layout-->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app_home') }}
{% endblock %}