{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Register{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app_index') }}
{% endblock %}

{% block body %}
    <div id="map" class="vh-100 vw-100"></div>

    <div class="app-index__link">
        <a class="btn btn-primary" href="{{ url('app_home') }}">
            <i class="fas fa-home"></i> Go to homepage
        </a>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app_index') }}
{% endblock %}