{% extends '_layouts/site.html.twig' %}

{% block title %}{{ parent() }} - Edit{% endblock %}
{% block page_id %}{{ parent() }}--defibrillator-edit{% endblock %}

{% set page_title = "Defibrillator - Edit" %}


{% block content %}
    <h1>Edit Defibrillator</h1>

    {{ include('defibrillator/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('defibrillator_index') }}">back to list</a>

    {{ include('defibrillator/_delete_form.html.twig') }}
{% endblock %}
