{% extends '_layouts/site.html.twig' %}

{% block title %}{{ parent() }} - Show{% endblock %}


{% block content %}
    <h1>Defibrillator</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ defibrillator.id }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ defibrillator.longitude }}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ defibrillator.latitude }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ defibrillator.note }}</td>
            </tr>
            <tr>
                <th>Available</th>
                <td>{{ defibrillator.available ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('defibrillator_index') }}">back to list</a>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('defibrillator_edit', {'id': defibrillator.id}) }}">edit</a>
    {% elseif is_granted('ROLE_USER') %}
        {{ include('defibrillator/_report_form.html.twig') }}
    {% endif %}
{% endblock %}
